.subscription-page {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    padding: 40px;
}

.subscription-page>h1 {
    color: var(--twitter-color);
    margin-top: 40px;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}

.plan-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    background-color: #f9f9f9;
    border-color: var(--twitter-color);
}

.plan-card:hover {
    cursor: pointer;
    background-color: #e8f5f7;
}

.plan-card h2 {
    margin-top: 0;
    color: var(--twitter-color);
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.benefits {
    list-style-type: none;
    padding: 0;
}

.benefits li {
    margin: 5px 0;
}