.LoginContainer,
.signUpContainer {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.imageContainer {
    flex: 1;
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.twitterIcon {
    font-size: 50px;
    margin-bottom: 20px;
    color: skyblue
}

.welcomeMessage1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1DA1F2;
}

.welcomeMessage2 {
    font-size: 15px;
    justify-content: end;
    color: #1DA1F2;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #1DA1F2;
}

.signUpButton {
    margin-top: 10px;
}

.button {
    background-color: #1DA1F2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0d8ddb;
}

hr {
    width: 100%;
    margin: 20px 0;
}

.googleButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.googleButton {
    width: 100%;
    max-width: 400px;
}

p {
    margin: 0;
    font-size: 14px;
}

a {
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}