.language-page {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    padding: 40px;
}

.language-container {
    display: flex;
    border-color: var(--twitter-background);
    flex-direction: column;
    margin-top: 50px;
}

.language-button {
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    text-align: left;
    border: none;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.language-button:hover {
    background-color: rgb(224, 224, 224);
}